.group-box-title {
    font-weight: bold; }

.stock-down .group-box {
    background-color: rgb(255, 157, 157); }

.stock-up .group-box {
    background-color: rgb(169, 255, 169); }

.inline-label, .inline-input {
    margin-right: 4px !important;
    display: inline-block !important; }

.inline-input {
    width: 100px !important; }

.spacer {
    display: inline-block;
    margin-right: 4px;
    margin-left: 4px; }

.stock-chart {
     width: 100%;
     height: 200px; }

#stock-chart-container {
    display: none; }

.modal-overlay {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    text-align: center;
    display: table; }

.modal-content {
    display: table-cell; }

.panel-small {
    padding: 0.3rem; }